*{
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif !important;
}

header{
    display: flex;
    background-color: #000;
    justify-content: space-between;
    padding: 0 30px 0 30px;
    flex-direction: row;
}
nav ul li{
    display: inline-block;

}

.Fabricacion a:hover, .Promos a:hover{
    transform: scale(1.2);
}

@keyframes logo{
	0%{
        transform: translateY(0);
}

	25%{
	transform: translateY(5px);
}
	75%{
    transform: translateY(-5px);
}
}

nav ul{
    display: flex;
    flex-direction: row;
}
nav ul li a{
    text-decoration: none;
    color: white;
    padding: 7px;
    margin: 5px;
}
.logo{
    margin: 5px;
    width: 200px;
    animation-name: logo;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-timing-function: ease;

}
nav{
    display: flex;
    align-content: center;
    flex-direction: row;
}
.lista{
    display: flex;
    align-items: center;
}

/*-----------INICIO---------------*/

.Marca{
    font-size: 3em;
    background-image: url(../images/fondoMarca.jpg);
}

.titulo{
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: center;
    margin: 20px;
}


.verMas{
    margin: 0;
}

.Fabricacion, .Promos, .Marca{
    background-repeat: no-repeat;
    background-size: cover;
    height: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.Fabricacion{
    background-image: url(../images/fondoFabricacion.jpg);
    
}

.Promos{
    background-image: url(../images/fondoPromos.jpg);
    
}
.Fabricacion a, .Promos a{
    text-decoration: none;
    color: #fff;
    transition: all .5s ease;
    padding: 10px;
    text-align: center;
    border:solid 2px  #fff;
    border-radius:5px;
    margin-top: 20px;
}
footer{
    height: 100px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.socialMedia{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 200px;
}
.Promos h2, .Fabricacion h2{
    display: inline-block;
    font-size: 5em;
}

/*-------PRODUCTOS-------**/

.Productos{
    width: 100%;
}
.cuerpo--productos{
    display: grid;
    grid-template-columns: repeat(8, 2fr);
    grid-template-rows: repeat(7,2fr);
    grid-gap: 50px;
}

.producto1{
    grid-column: 2/4;
    width: 100%;
    grid-row: 1/4;
    height: 100%;
   
}
.producto2{
    grid-column: 6/8;
    width: 100%;
    grid-row: 1/4;
    height: 100%;
}
.producto3{
    grid-column: 2/4;
    width: 100%;
    grid-row: 5/8;
    height: 100%;
}
.producto4{
    grid-column: 6/8;
    width: 100%;
    grid-row: 5/8;
    height: 100%;
}
.publicidad{
    grid-column: 2/8;
    grid-row: 4/5;
    height: 100%;
    background-color: black;
    color: white;
    font-size: 2em;
    display: flex;
    justify-content: center;
}
h3{
    margin: 20px;
    text-align: center;
}
.producto1, .producto2, .producto3, .producto4, .publicidad{
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: center;
    font-family: 'Outfit', sans-serif;

}
h1{
    font-family: 'Outfit', sans-serif;
    font-size: 4em;
    text-align: center;
    margin-top: 50px;
}

/*-----------NOSOTROS------------*/
.info{
    font-family: 'Outfit', sans-serif;
    font-size: 1.5em;
    margin-top: 50px;
}









/*--------MEDIA ------- */
@media screen and (max-width:1197px){
    .Marca, .Promos a, .Fabricacion a{
        font-size: 2em;
    }
    .cuerpo--productos{
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(5,1fr);
        grid-gap: 20px;
    }
    .producto1, .producto2{
        grid-row: 1/3;
    }
    .producto3, .producto4{
        grid-row: 4/6;
    }
    .publicidad{
        grid-row: 3/4;
    }
}
@media screen and (max-width:1021px){
    .cuerpo--productos{
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(3,1fr);
        grid-gap: 20px;
    }
    .producto1, .producto2{
        grid-row: 1/2;
    }
    .producto3, .producto4{
        grid-row: 3/4;
    }
    .publicidad{
        grid-row: 2/3;
    }
    h1{
        font-size: 3em;
    }
}

@media screen and (max-width:950px){
    .Marca, .Promos a, .Fabricacion a{
        font-size: 1.5em;
    }
    header{
        flex-direction: column;
        align-items: center;
    }
    nav ul li{
        margin: 10px 0 10px 0;
    }
}
@media screen and (max-width:700px){
    nav ul{
        display: flex;
        flex-direction: column;
    }
    .Marca, .Promos a, .Fabricacion a{
        font-size: 1em;
    }
    .publicidad{
        font-size: 1em;
    }
}
@media screen and (max-width:530px){
    footer{
        font-size: 15px;
    }
}
@media screen and (max-width:447px){
    .producto1, .producto3{
        grid-column: 2/5;
    }
    .producto2, .producto4{
        grid-column: 5/8;
    }
    h1{
        font-size: 2em;
    }
}

@media screen and (max-width:390px){
    nav ul li a{
        font-size: 13px;
    }
    h3{
        font-size: 0.7em;
    }
}